{% extends 'blog/base.html' %}
{%load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log in</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Log in</button>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Need an account?
                    <a href="{% url 'register' %}" class="ml-2">Sign up</a>
                </small>
            </div>
        </form>
    </div>
{% endblock %}