{% extends 'blog/base.html' %}
{% block content %}
    <div class="border-top pt-3">
        <small class="text-muted">
            You have been logged out
            <br>
            <a href="{% url 'login' %}" >Log in again</a>
        </small>
    </div>
{% endblock %}