{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign up</button>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already have an account?
                    <a href="{% url 'login' %}" class="ml-2">Sign in</a>
                </small>
            </div>
        </form>
    </div>
{% endblock %}